
//colors
$color-red: #F71735;
$default-color: #1c852c;
$black: #464646;
$extra-black: #111111;
$opacity-grey: #959595;
$orange: #E56E17;
$light-orange: #FB7A1B;
$grey: #6F6F6F;
$crimson: #FF450B;
$bright-red: #FF0000;